[Desktop Entry]
Name=Cuttlefish
Name[ca]=Cuttlefish
Name[ca@valencia]=Cuttlefish
Name[de]=Cuttlefish
Name[en_GB]=Cuttlefish
Name[es]=Cuttlefish
Name[fi]=Cuttlefish
Name[it]=Cuttlefish
Name[nl]=Cuttlefish
Name[nn]=Cuttlefish
Name[pl]=Cuttlefish
Name[pt]=Cuttlefish
Name[pt_BR]=Cuttlefish
Name[sk]=Cuttlefish
Name[sv]=Cuttlefish
Name[uk]=Cuttlefish
Name[x-test]=xxCuttlefishxx
Comment=List and preview available icons
Comment[ca]=Llista i fa una vista prèvia de les icones disponibles
Comment[ca@valencia]=Llista i fa una vista prèvia de les icones disponibles
Comment[de]=Auflistung und Vorschau verfügbarer Symbole
Comment[en_GB]=List and preview available icons
Comment[es]=Lista y vista previa de los iconos disponibles
Comment[fi]=Listaa ja esikatsele kuvakkeita
Comment[it]=Lista e anteprima delle icone disponibili
Comment[nl]=Beschikbare pictogrammen in een lijst weergeven en bekijken
Comment[pl]=Wypisz i podglądaj dostępne ikony
Comment[pt]=Enumera e antevê os ícones disponíveis
Comment[pt_BR]=Relaciona e visualiza os ícones disponíveis
Comment[sk]=Zoznam a náhľad dostupných ikon
Comment[sv]=Lista och visa tillgängliga ikoner
Comment[uk]=Показ списку і попередній перегляду доступних піктограм
Comment[x-test]=xxList and preview available iconsxx
GenericName=Icon Browser
GenericName[ca]=Navegador d'icones
GenericName[ca@valencia]=Navegador d'icones
GenericName[de]=Symbol-Browser
GenericName[en_GB]=Icon Browser
GenericName[es]=Explorador de iconos
GenericName[fi]=Kuvakeselain
GenericName[it]=Browser icone
GenericName[nl]=Pictogrambrowser
GenericName[pl]=Przeglądarka ikon
GenericName[pt]=Navegador de Ícones
GenericName[pt_BR]=Navegador de ícones
GenericName[sk]=Prehliadač ikon
GenericName[sv]=Ikonbläddrare
GenericName[uk]=Навігатор піктограмами
GenericName[x-test]=xxIcon Browserxx
Encoding=UTF-8
Type=Service
Icon=internet-web-browser
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma.cuttlefish
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://kde.org
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-MainScript=ui/cuttlefish.qml
