[Desktop Entry]
Name=Cuttlefish
Name[sk]=Cuttlefish
Name[sv]=Cuttlefish
Name[x-test]=xxCuttlefishxx
Comment=List and preview available icons
Comment[sk]=Zoznam a náhľad dostupných ikon
Comment[sv]=Lista och visa tillgängliga ikoner
Comment[x-test]=xxList and preview available iconsxx
GenericName=Icon Browser
GenericName[sk]=Prehliadač ikon
GenericName[sv]=Ikonbläddrare
GenericName[x-test]=xxIcon Browserxx
Encoding=UTF-8
Type=Service
Icon=internet-web-browser
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma.cuttlefish
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://kde.org
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-MainScript=ui/cuttlefish.qml
