[Desktop Entry]
Name=Cuttlefish
Name[ca]=Cuttlefish
Name[cs]=Cuttlefish
Name[en_GB]=Cuttlefish
Name[es]=Cuttlefish
Name[fi]=Cuttlefish
Name[gl]=Cuttlefish
Name[it]=Cuttlefish
Name[nl]=Cuttlefish
Name[pt]=Cuttlefish
Name[pt_BR]=Cuttlefish
Name[sk]=Cuttlefish
Name[sl]=Cuttlefish
Name[sv]=Cuttlefish
Name[uk]=Cuttlefish
Name[x-test]=xxCuttlefishxx
Name[zh_CN]=Cuttlefish
Comment=List and preview available icons
Comment[ca]=Llista i fa una vista prèvia de les icones disponibles
Comment[en_GB]=List and preview available icons
Comment[es]=Lista y vista previa de los iconos disponibles
Comment[fi]=Listaa ja esikatsele kuvakkeita
Comment[gl]=Lista e mostra unha vista previa das iconas dispoñíbeis.
Comment[it]=Lista e anteprima delle icone disponibili
Comment[nl]=Beschikbare pictogrammen in een lijst weergeven en bekijken
Comment[pt]=Enumera e antevê os ícones disponíveis
Comment[pt_BR]=Relaciona e visualiza os ícones disponíveis
Comment[sk]=Zoznam a náhľad dostupných ikon
Comment[sl]=Izpiše predogledni seznam razpoložljivih ikon
Comment[sv]=Lista och visa tillgängliga ikoner
Comment[uk]=Показ списку і попередній перегляду доступних піктограм
Comment[x-test]=xxList and preview available iconsxx
GenericName=Icon Browser
GenericName[ca]=Navegador d'icones
GenericName[cs]=Prohlížeč ikon
GenericName[en_GB]=Icon Browser
GenericName[es]=Explorador de iconos
GenericName[fi]=Kuvakeselain
GenericName[gl]=Navegador de iconas
GenericName[it]=Browser icone
GenericName[nl]=Pictogrambrowser
GenericName[pt]=Navegador de Ícones
GenericName[pt_BR]=Navegador de ícones
GenericName[sk]=Prehliadač ikon
GenericName[sl]=Brskalnik po ikonah
GenericName[sv]=Ikonbläddrare
GenericName[uk]=Навігатор піктограмами
GenericName[x-test]=xxIcon Browserxx
GenericName[zh_CN]=图标浏览器
Encoding=UTF-8
Type=Service
Icon=internet-web-browser
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma.cuttlefish
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://kde.org
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-MainScript=ui/cuttlefish.qml
