<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="plasmate" version="1">
<MenuBar>
  <MenuBar>
    <Menu name="file" >
      <Action name="clear" />
    </Menu>
  </MenuBar>
  <Merge />
</MenuBar>
<!-- <ToolBar> noMerge="1" name="mainToolBar"><text>Main Toolbar</text> -->
<!--   <Action name="file_open"/> -->
<!--   <Merge/> -->
 <ToolBar name="mainToolBar" >
    <text>Main Toolbar</text>
    <Action name="clear" />
  </ToolBar>
</kpartgui>