#!/usr/bin/env xdg-open
[Desktop Entry]
Terminal=false
Name=Plasmate
Name[nds]=Plasmate
Name[pt]=Plasmate
Name[pt_BR]=Plasmate
Name[uk]=Plasmate
Name[x-test]=xxPlasmatexx
GenericName=PlasMate - The Plasma Add-Ons Creator
GenericName[nds]=PlasMate - De Verwiedern-Maker för Plasma
GenericName[pt]=PlasMate - O Criador de Extensões do Plasma
GenericName[pt_BR]=PlasMate - O criador de complementos do Plasma
GenericName[uk]=PlasMate — програма для створення додатків Плазми
GenericName[x-test]=xxPlasMate - The Plasma Add-Ons Creatorxx
Exec=plasmate
Icon=plasmagik
Type=Application
InitialPreference=7
Categories=KDE;Development;
