[Desktop Entry]
Comment=Access hidden applications minimized in the system tray
Comment[et]=Süsteemisalve minimeeritud peidetud rakenduste kasutamine
Comment[fr]=Applications dont l'accès est caché, minimisées dans la boîte à miniatures
Comment[pt]=Aceder às aplicações escondidas e minimizadas na bandeja do sistema
Comment[pt_BR]=Aceder às aplicações escondidas e minimizadas na bandeja do sistema
Comment[sv]=Åtkomst av dolda program minimerade till systembrickan
Comment[uk]=Доступ до прихованих програм, мінімізованих до системного лотка
Comment[x-test]=xxAccess hidden applications minimized in the system trayxx
Encoding=UTF-8
Name=System Tray
Name[et]=Süsteemisalv
Name[fr]=Boîte à miniature
Name[ga]=Tráidire an Chórais
Name[nds]=Paneel-Systeemafsnitt
Name[pt]=Bandeja do Sistema
Name[pt_BR]=Bandeja do Sistema
Name[sv]=Systembricka
Name[uk]=Системний лоток
Name[x-test]=xxSystem Trayxx
Type=Service
X-KDE-Library=plasma_applet_systemtray
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Alexander Rodin
X-KDE-PluginInfo-Category=Windows and Tasks
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=rodin.alexander@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL v2+
X-KDE-PluginInfo-Name=systemtray
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=
