[Desktop Entry]
Comment=Access hidden applications minimized in the system tray
Comment[de]=Ermöglicht den Zugriff auf Programme, die im Systemabschnitt der Kontrollleiste laufen.
Comment[en_GB]=Access hidden applications minimised in the system tray
Comment[eo]=Atingi kaŝitan minimumigitajn aplikaĵojn en la taskopleto
Comment[es]=Accede a aplicaciones ocultas minimizadas en la bandeja del sistema
Comment[et]=Süsteemisalve minimeeritud peidetud rakenduste kasutamine
Comment[fi]=Pääsy ilmoitusalueelle piilotettuihin sovelluksiin
Comment[fr]=Applications dont l'accès est caché, minimisées dans la boîte à miniatures
Comment[ga]=Rochtain feidhmchláir atá íoslaghdaithe i dtráidire an chórais
Comment[gl]=Acede a programas ocultos minimizados na bandexa do sistema
Comment[hr]=Pristup skrivenim aplikacijama minimiziranim u sustavskoj traci
Comment[km]=ចូលដំណើរការ​កម្មវិធី​ដែល​បាន​លាក់ ដែល​បានបង្រួម​អប្បបរមា​នៅ​ក្នុង​ថាស​ប្រព័ន្ធ
Comment[nl]=Biedt toegang tot programma's die in het systeemvak draaien
Comment[pt]=Aceder às aplicações escondidas e minimizadas na bandeja do sistema
Comment[pt_BR]=Acessa os aplicativos ocultos minimizados na área de notificação
Comment[sv]=Åtkomst av dolda program minimerade till systembrickan
Comment[th]=ใช้งานแอพลิเคชันที่ถูกซ่อนและย่อเก็บในถาดระบบ
Comment[tr]=Sistem çekmecesine küçültülen uygulamalara erişin
Comment[uk]=Доступ до прихованих програм, мінімізованих до системного лотка
Comment[x-test]=xxAccess hidden applications minimized in the system trayxx
Encoding=UTF-8
Name=System Tray
Name[cs]=Systémová lišta
Name[en_GB]=System Tray
Name[eo]=Sistempleto
Name[es]=Bandeja del sistema
Name[et]=Süsteemisalv
Name[fi]=Ilmoitusalue
Name[fr]=Boîte à miniature
Name[ga]=Tráidire an Chórais
Name[gl]=Bandexa do sistema
Name[hr]=Sustavska traka
Name[ja]=システムトレイ
Name[km]=ថាស​ប្រព័ន្ធ
Name[mai]=तंत्र तश्तरी
Name[nds]=Paneel-Systeemafsnitt
Name[nl]=Systeemvak
Name[pa]=ਸਿਸਟਮ ਟਰੇ
Name[pt]=Bandeja do Sistema
Name[pt_BR]=Área de notificação
Name[ro]=Tavă de sistem
Name[sv]=Systembricka
Name[th]=ถาดระบบ
Name[tr]=Sistem Çekmecesi
Name[uk]=Системний лоток
Name[x-test]=xxSystem Trayxx
Type=Service
X-KDE-Library=plasma_applet_systemtray
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Alexander Rodin
X-KDE-PluginInfo-Category=Windows and Tasks
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=rodin.alexander@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL v2+
X-KDE-PluginInfo-Name=systemtray
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=
