[Desktop Entry]
Name=Victory Calendar
Name[el]=Ημερολόγιο νίκης
Name[et]=Võidukalender
Name[fr]=Agenda Victoire
Name[gl]=Calendario Victoria
Name[km]=ប្រតិទិនជ័យ​ជំនះ
Name[nds]=Spood-Kalenner
Name[pt]=Calendário de Vitórias
Name[pt_BR]=Calendário de Vitórias
Name[sv]=Segerkalender
Name[uk]=Календар перемог
Name[x-test]=xxVictory Calendarxx
Comment=1) Log your daily accomplishments. 2) ??? 3) Profit!
Comment[el]=1) Καταγραφή των καθημερινών σας επιτευγμάτων 2) ??? 3) Κέρδος!
Comment[et]=1) Pane kirja oma igapäevased saavutused. 2) ??? 3) Kasu!
Comment[fr]=1) Enregistrez vos exploits accomplis chaque jour. 2) ??? 3) Profit !
Comment[gl]=1)Rexistra os logros diarios. 2) ??? 3) Beneficio!
Comment[km]=១) ចុះ​កំណត់​ហេតុ​​ស្នាដៃ​ប្រចាំ​ថ្ងៃ​របស់​អ្នក ។ ២) ??? ៣) ទម្រង់ !
Comment[nds]=1) Elk Dag Dien Spood opschrieven 2) Dor wat ut maken 3) De Frücht austen!
Comment[pt]=1) Registar os seus sucessos diários. 2) ??? 3) Lucro!
Comment[pt_BR]=1) Registar os seus sucessos diários. 2) ??? 3) Lucro!
Comment[sv]=1) Skriv upp vad du åstadkommit varje dag. 2) ??? 3) Dra nytta av det.
Comment[uk]=1) Запишіть ваші щоденні звершення. 2) ??? 3) Profit!
Comment[x-test]=xx1) Log your daily accomplishments. 2) ??? 3) Profit!xx
Icon=view-calendar-tasks
Type=Service
X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js
X-Plasma-DefaultSize=200,100
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-PluginInfo-Author=Chani Armitage
X-KDE-PluginInfo-Email=chani@kde.org
X-KDE-PluginInfo-Name=victorycalendar
X-KDE-PluginInfo-Version=0.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Personal Information Management
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
