[Desktop Entry]
Terminal=false
Name=Icon Explorer
Name[be]=Агляд значкоў
Name[bg]=Преглед на икони
Name[ca]=Explorador d'icones
Name[ca@valencia]=Explorador d'icones
Name[cs]=Prohlížeč ikon
Name[da]=Ikonudforsker
Name[en_GB]=Icon Explorer
Name[eo]=Piktogram-Esplorilo
Name[es]=Explorador de iconos
Name[eu]=Ikono esploratzailea
Name[fi]=Kuvakekatselin
Name[fr]=Navigateur d'icônes
Name[gl]=Explorador de iconas
Name[he]=סייר סמלים
Name[hu]=Ikonböngésző
Name[ia]=Icon Explorer ( Explorator de icone) 
Name[it]=Esploratore di icone
Name[ka]=ხატულების ბრაუზერი
Name[ko]=아이콘 탐색기
Name[lt]=Piktogramų tyrinėtojas
Name[nl]=Pictogramverkenner
Name[nn]=Ikonutforskar
Name[pl]=Przeglądarka ikon
Name[pt_BR]=Explorador de ícones
Name[ru]=Просмотр значков
Name[sa]=चिह्न अन्वेषक
Name[sk]=Prehliadač ikon
Name[sl]=Brskalnik po ikonah
Name[sv]=Ikonutforskare
Name[tr]=Simge Gezgini
Name[uk]=Навігатор піктограмами
Name[x-test]=xxIcon Explorerxx
Name[zh_CN]=Icon Explorer 图标浏览器
Name[zh_TW]=圖示瀏覽器
GenericName=Icon Viewer
GenericName[az]=İkonlara baxış
GenericName[be]=Прагляд значкоў
GenericName[bg]=Преглед на икони
GenericName[ca]=Visualitzador d'icones
GenericName[ca@valencia]=Visor d'icones
GenericName[cs]=Prohlížeč ikon
GenericName[da]=Ikonfremviser
GenericName[de]=Symbol-Betrachter
GenericName[el]=Προβολέας εικονιδίων
GenericName[en_GB]=Icon Viewer
GenericName[eo]=Piktogramrigardilo
GenericName[es]=Visor de iconos
GenericName[et]=Ikoonide näitaja
GenericName[eu]=Ikono erakuslea
GenericName[fi]=Kuvakekatselin
GenericName[fr]=Afficheur d'icônes
GenericName[gl]=Visor de iconas
GenericName[he]=מציג סמלים
GenericName[hu]=Ikonmegjelenítő
GenericName[ia]=Visor de icone
GenericName[id]=Penampil Ikon
GenericName[it]=Visore icone
GenericName[ka]=ხატულების გადახედვა
GenericName[ko]=아이콘 뷰어
GenericName[lt]=Piktogramų žiūryklė
GenericName[nl]=Pictogramviewer
GenericName[nn]=Ikonvisar
GenericName[pl]=Przeglądarka ikon
GenericName[pt]=Visualizador de Ícones
GenericName[pt_BR]=Visualizador de ícones
GenericName[ru]=Просмотр значков
GenericName[sa]=चिह्न दर्शक
GenericName[sk]=Prehliadač ikon
GenericName[sl]=Pregledovalnik ikon
GenericName[sr]=Приказивач иконица
GenericName[sr@ijekavian]=Приказивач иконица
GenericName[sr@ijekavianlatin]=Prikazivač ikonica
GenericName[sr@latin]=Prikazivač ikonica
GenericName[sv]=Ikonvisare
GenericName[tr]=Simge Görüntüleyicisi
GenericName[uk]=Перегляд піктограм
GenericName[x-test]=xxIcon Viewerxx
GenericName[zh_CN]=图标查看器
GenericName[zh_TW]=圖示檢視器
Comment=Icon Previewer for Artists and Developers
Comment[az]=Dizaynerlər və Tərtibatçılar üçün ikonlara baxış vasitəsi
Comment[be]=Сродак папярэдняга прагляду значкоў для мастакоў і распрацоўнікаў
Comment[bg]=Програма за преглед на икони за дизайнери и разработчици
Comment[ca]=Vista prèvia de les icones per als artistes i desenvolupadors
Comment[ca@valencia]=Vista prèvia de les icones per als artistes i desenvolupadors
Comment[da]=Forhåndsvisning af ikoner til kunstnere og udviklere
Comment[de]=Symbolvorschau für Künstler und Entwickler
Comment[el]=Πρόγραμμα προεπισκόπησης εικονιδίων για καλλιτέχνες και προγραμματιστές
Comment[en_GB]=Icon Previewer for Artists and Developers
Comment[eo]=Piktogramrigardilo por artistoj kaj evoluistoj
Comment[es]=Vista previa de iconos para artistas y desarrolladores
Comment[et]=Ikoonide eelvaaatlus kunstnikele ja arendajatele
Comment[eu]=Artista eta garatzaileentzat ikono aurre-erakuslea
Comment[fi]=Kuvakkeiden esikatselu graafikoille ja kehittäjille
Comment[fr]=Afficheur d'icônes pour les artistes et développeurs
Comment[gl]=Visor de iconas para artistas e desenvolvedores.
Comment[he]=מציג סמלים לאומנים ולמפתחים
Comment[hu]=Ikonnézőke művészeknek és fejlesztőknek
Comment[ia]=Monstrator preliminar de icone per artistas e disveloppatores
Comment[id]=Pempratinjau ikon untuk Artis dan Developer
Comment[it]=Anteprime delle icone per artisti e sviluppatori
Comment[ka]=ხატულის გადახედვა პროგრამისტებისა და მხატვრებისთვის
Comment[ko]=예술가와 개발자용 아이콘 뷰어
Comment[lt]=Piktogramų peržiūros programa, skirta dailininkams ir kūrėjams
Comment[nl]=Pictogramviewer voor kunstenaars en ontwikkelaars
Comment[nn]=Førehandsvising av ikon for kunstnarar og utviklarar
Comment[pl]=Podglądanie ikon dla artystów i programistów
Comment[pt]=Antevisão em Ícones para os Artistas e Programadores
Comment[pt_BR]=Visualizador de ícones para artistas e desenvolvedores
Comment[ru]=Инструмент просмотра значков для дизайнеров и разработчиков
Comment[sa]=कलाकारानां विकासकानां च कृते चिह्नपूर्वदर्शकः
Comment[sk]=Prehliadač ikon pre umelcov a vývojárov
Comment[sl]=Pregledovalnik ikon za umetnike in razvijalce
Comment[sr]=Приказивач иконица за графичаре и програмере
Comment[sr@ijekavian]=Приказивач иконица за графичаре и програмере
Comment[sr@ijekavianlatin]=Prikazivač ikonica za grafičare i programere
Comment[sr@latin]=Prikazivač ikonica za grafičare i programere
Comment[sv]=Förhandsgranskning av ikoner för grafiker och utvecklare
Comment[tr]=Sanatçılar ve Geliştiriciler için Simge Önizleyicisi
Comment[uk]=Засіб перегляду піктограм для художників та розробників
Comment[x-test]=xxIcon Previewer for Artists and Developersxx
Comment[zh_CN]=为艺术家和开发者设计的图标预览器
Comment[zh_TW]=為藝術家與開發者所設計的圖示預覽器
Keywords=design;icon;preview;symbol;cuttlefish;
Keywords[be]=дызайн;значок; папярэдні прагляд;сімвал;cuttlefish;
Keywords[bg]=дизайн;икони;преглед;символи;cuttlefish;
Keywords[ca]=disseny;icona;vista prèvia;previsualització;símbol;cuttlefish;
Keywords[ca@valencia]=disseny;icona;vista prèvia;previsualització;símbol;cuttlefish;
Keywords[da]=design:ikon;forhåndsvisning;symbol;cuttlefish;
Keywords[en_GB]=design;icon;preview;symbol;cuttlefish;
Keywords[eo]=dezajno;piktogramo;antaŭrigardo;simbolo;cuttlefish;
Keywords[es]=diseño;icono;vista previa;previsualizar;símbolo;cuttlefish;
Keywords[eu]=diseinua;ikonoa;aurreikuspegia;ikurra;cuttlefish;
Keywords[fi]=suunnittelu;kuvake;ikoni;esikatselu;symboli;cuttlefish;
Keywords[fr]=Cuttlefish ; conception ; icône ; aperçu ; symbole ;
Keywords[gl]=deseño;icona;vista previa;símbolo;cuttlefish;
Keywords[he]=עיצוב;סמל;אייקון;איקון;סמליל;סמלון;תכנון;תצוגה מקדימה;הצגה מקדימה;סמל;סימבול;סימון;קאטלפיש;קטלפיש;דיונון;
Keywords[hu]=design;ikon;előnézet;szimbólum;cuttlefish;
Keywords[ia]=designo;icone;vista preliminar;symbolo;cuttlefish;
Keywords[it]=disegno;icona;anteprima;simbolo;cuttlefish;
Keywords[ka]=design;icon;preview;symbol;cuttlefish;სიმბოლო;ხატულა;მინიატურა;
Keywords[ko]=design;icon;preview;symbol;cuttlefish;디자인;아이콘;미리 보기;미리보기;기호;
Keywords[lt]=dizainas;piktograma;piktogramos;peržiūra;perziura;piktogramų;piktogramu;simbolis;simboliai;cuttlefish;
Keywords[nl]=ontwerp;pictogram;voorbeeld;symbool;cuttlefish;
Keywords[nn]=design;utforming;ikon;førehandsvising;symbol;cuttlefish;
Keywords[pl]=projekt;ikona;podgląd;symbol;cuttlefish;
Keywords[pt_BR]=design;ícone;visualização;símbolo;cuttlefish;
Keywords[ru]=design;icon;preview;symbol;cuttlefish;дизайн;кнопка;просмотр;символ;значок;
Keywords[sa]=डिजाइन;चिह्न;पूर्वावलोकन;चिह्न;कटलफिश;
Keywords[sk]=návrh;ikona;náhľad;symbol;
Keywords[sl]=design;ikona;predogled;simbol;cuttlefish;
Keywords[sv]=design;ikon;förhandsgranskning;symbol;cuttlefish
Keywords[tr]=tasarım;simge;önizleme;sembol;cuttlefish;mürekkepbalığı;
Keywords[uk]=design;icon;preview;symbol;cuttlefish;дизайн;піктограма;іконка;перегляд;символ;катлфіш;
Keywords[x-test]=xxdesignxx;xxiconxx;xxpreviewxx;xxsymbolxx;xxcuttlefishxx;
Keywords[zh_CN]=design;icon;preview;symbol;cuttlefish;设计;图标;预览;符号;sheji;tubiao;yulan;fuhao;
Keywords[zh_TW]=design;icon;preview;symbol;cuttlefish;圖示;預覽;設計;符號;
Exec=iconexplorer
Icon=org.kde.iconexplorer
Type=Application
InitialPreference=7
Categories=Qt;KDE;Development;IDE;
