[Desktop Entry]
Name=Battery & Brightness
Name[ca]=Bateria i lluminositat
Name[cs]=Baterie a Jas
Name[es]=Batería y brillo
Name[fi]=Akku ja kirkkaus
Name[hu]=Akkumulátor és fényerő
Name[nl]=Batterij & helderheid
Name[pt]=Bateria & Brilho
Name[pt_BR]=Bateria e brilho da tela
Name[sk]=Batéria & jas
Name[sl]=Baterija in svetlost
Name[sv]=Batteri och ljusstyrka
Name[uk]=Акумулятор і яскравість дисплея
Name[x-test]=xxBattery & Brightnessxx
Comment=See the power status of your battery
Comment[ca]=Vegeu l'estat d'energia de la bateria
Comment[cs]=Zobrazí stav nabití vaší baterie
Comment[es]=Ver el estado de carga de su batería
Comment[fi]=Näyttää akun virtatilanteen
Comment[hu]=Kijelzi a telepek állapotát
Comment[nl]=Zie de capaciteitsstatus van uw accu
Comment[pt]=Ver o estado de energia da sua bateria
Comment[pt_BR]=Mostra o estado da carga da sua bateria
Comment[sk]=Zobrazenie stavu nabitia vašej batérie
Comment[sl]=Oglejte si stanje napolnjenosti baterij
Comment[sv]=Se batteriets laddningsstatus
Comment[uk]=Перегляньте стан заряду акумулятора
Comment[x-test]=xxSee the power status of your batteryxx
Encoding=UTF-8
Keywords=Power Management;Battery;System;Energy;
Keywords[ca]=Sistema de gestió d'energia;Bateria;Sistema;Energia;
Keywords[cs]=Správa napájení;Baterie;Systém;Energie;
Keywords[es]=Gestión de energía;Batería;Sistema;Energía;
Keywords[fi]=Virranhallinta;Akku;Järjestelmä;Virransäästö;
Keywords[hu]=Energiakezelés;Akkumulátor;Rendszer;Energia;
Keywords[nl]=Energiebeheer;Batterij;Accu;Systeem;Energie;
Keywords[pt]=Gestão de Energia;Bateria;Sistema;Energia;
Keywords[pt_BR]=Gerenciamento de energia;Bateria;Sistema;Energia;
Keywords[sk]=Správa napájania;Batéria;Systém;Energia;
Keywords[sl]=upravljanje z energijo;baterija;sistem;energija;
Keywords[sv]=Strömhantering;Batteri;System;Energi;
Keywords[uk]=Power Management;Battery;System;Energy;керування живленням;акумулятор;система;енергія;батарея;батарейка;живлення;
Keywords[x-test]=xxPower Managementxx;xxBatteryxx;xxSystemxx;xxEnergyxx;

Icon=battery
Type=Service
X-KDE-ServiceTypes=Plasma/Applet,Plasma/PopupApplet

X-Plasma-API=declarativeappletscript

X-Plasma-MainScript=ui/batterymonitor.qml
X-Plasma-ConfigPlugins=powerdevilprofilesconfig,powerdevilactivitiesconfig,powerdevilglobalconfig
X-Plasma-NotificationArea=true

X-KDE-PluginInfo-Author=Sebastian Kügler, Kai Uwe Broulik
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-Email=sebas@kde.org, kde@privat.broulik.de
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.plasma.battery
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=http://vizZzion.org
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-EnabledByDefault=true
