#!/usr/bin/env xdg-open
[Desktop Entry]
Terminal=false
Name=Plasmate
Name[da]=Plasmate
Name[et]=Plasmate
Name[hu]=Plasmate
Name[nl]=Plasmate
Name[pt]=Plasmate
Name[pt_BR]=Plasmate
Name[sk]=Plasmate
Name[uk]=Plasmate
Name[x-test]=xxPlasmatexx
GenericName=Plasma Addon Creator
GenericName[da]=Plasma tilføjelsesskaber
GenericName[et]=Plasma lisandite looja
GenericName[hu]=Plazma kiegészítő készítő
GenericName[nl]=Plasma maker van addons
GenericName[pt]=Criador de Extensões do Plasma
GenericName[pt_BR]=Criador de complementos do Plasma
GenericName[sk]=Tvorca doplnkov Plasma
GenericName[uk]=Програма для створення додатків Плазми
GenericName[x-test]=xxPlasma Addon Creatorxx
Exec=plasmate
Icon=plasmagik
Type=Application
InitialPreference=7
Categories=Qt;KDE;Development;IDE;
