#!/usr/bin/env xdg-open
[Desktop Entry]
Terminal=false
Name=Plasmate
Name[cs]=Plasmate
Name[da]=Plasmate
Name[de]=Plasmate
Name[el]=Plasmate
Name[es]=Plasmate
Name[et]=Plasmate
Name[fi]=Plasmate
Name[fr]=Plasmate
Name[gl]=Plasmate
Name[hu]=Plasmate
Name[it]=Plasmate
Name[km]=Plasmate
Name[mr]=प्लास्मेट
Name[nds]=Plasmate
Name[nl]=Plasmate
Name[pl]=Plasmate
Name[pt]=Plasmate
Name[pt_BR]=Plasmate
Name[ro]=Plasmate
Name[ru]=Plasmate
Name[sk]=Plasmate
Name[sl]=Plasmate
Name[sv]=Plasmate
Name[tr]=Plasmate
Name[uk]=Plasmate
Name[x-test]=xxPlasmatexx
Name[zh_TW]=Plasmate
GenericName=Plasma Addon Creator
GenericName[da]=Plasma tilføjelsesskaber
GenericName[el]=Παραγωγός προσθέτων Plasma
GenericName[es]=Creador de complementos para Plasma
GenericName[et]=Plasma lisandite looja
GenericName[fi]=Plasma-lisäosien luontiohjelma
GenericName[fr]=Créateur de modules complémentaires Plasma
GenericName[gl]=Creados de complementos para Plasma
GenericName[hu]=Plazma kiegészítő készítő
GenericName[it]=Creatore di componenti aggiuntivi di Plasma
GenericName[km]=កម្មវិធី​បង្កើត​ផ្នែក​បន្ថែម​​ប្លាស្មា
GenericName[nl]=Plasma maker van addons
GenericName[pl]=Kreator dodatku Plazmy
GenericName[pt]=Criador de Extensões do Plasma
GenericName[pt_BR]=Criador de complementos do Plasma
GenericName[ro]=Creator de suplimente Plasma
GenericName[ru]=Конструктор дополнений Plasma
GenericName[sk]=Tvorca doplnkov Plasma
GenericName[sl]=Ustvarjalnik dodatkov za Plasmo
GenericName[sv]=Skapa Plasma-tillägg
GenericName[tr]=Plasma Eklenti Oluşturucu
GenericName[uk]=Програма для створення додатків Плазми
GenericName[x-test]=xxPlasma Addon Creatorxx
GenericName[zh_TW]=Plasma 附加元件建立器
Exec=plasmate
Icon=plasmagik
Type=Application
InitialPreference=7
Categories=Qt;KDE;Development;IDE;
