[Desktop Entry]
Comment=Access hidden applications minimized in the system tray
Comment[nl]=Biedt toegang tot programma's die in het systeemvak draaien
Comment[pt]=Aceder às aplicações escondidas e minimizadas na bandeja do sistema
Comment[pt_BR]=Acessa aplicativos ocultos minimizados na área de notificação
Comment[x-test]=xxAccess hidden applications minimized in the system trayxx
Encoding=UTF-8
Name=System Tray
Name[nl]=Systeemvak
Name[pt]=Bandeja do Sistema
Name[pt_BR]=Área de notificação
Name[x-test]=xxSystem Trayxx
Type=Service
X-KDE-Library=plasma_applet_systemtray
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Alexander Rodin
X-KDE-PluginInfo-Category=Windows and Tasks
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=rodin.alexander@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL v2+
X-KDE-PluginInfo-Name=systemtray
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=
