[Desktop Entry]
Comment=Access hidden applications minimized in the system tray
Comment[ca]=Accés a les aplicacions minimitzades ocultes a la safata del sistema
Comment[en_GB]=Access hidden applications minimised in the system tray
Comment[es]=Acceso a las aplicaciones ocultas minimizadas en la bandeja del sistema
Comment[fi]=Hae piilotettuja sovelluksia, jotka on pienennetty ilmoitusalueelle
Comment[nl]=Biedt toegang tot programma's die in het systeemvak draaien
Comment[pl]=Zapewnia dostęp do programów zminimalizowanych na tacce systemowej
Comment[pt]=Aceder às aplicações escondidas e minimizadas na bandeja do sistema
Comment[pt_BR]=Acessa aplicativos ocultos minimizados na área de notificação
Comment[sk]=Prístup k skrytým aplikáciam minimalizovaným do systémovej lišty
Comment[sv]=Kom åt dolda program minimerade i systembrickan
Comment[uk]=Доступ до прихованих програм, мінімізованих до системного лотка
Comment[x-test]=xxAccess hidden applications minimized in the system trayxx
Encoding=UTF-8
Name=System Tray
Name[ca]=Safata del sistema
Name[en_GB]=System Tray
Name[es]=Bandeja del sistema
Name[fi]=Ilmoitusalue
Name[nl]=Systeemvak
Name[pl]=Tacka systemowa
Name[pt]=Bandeja do Sistema
Name[pt_BR]=Área de notificação
Name[sk]=Systémová lišta
Name[sv]=Systembricka
Name[uk]=Системний лоток
Name[x-test]=xxSystem Trayxx
Type=Service
X-KDE-Library=plasma_applet_systemtray
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Alexander Rodin
X-KDE-PluginInfo-Category=Windows and Tasks
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=rodin.alexander@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL v2+
X-KDE-PluginInfo-Name=systemtray
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=
