[Desktop Entry]
Comment=Access hidden applications minimized in the system tray
Comment[cs]=Přístup ke skrytým aplikacím, které jsou minimalizované v systémové oblasti
Comment[da]=Tilgå skjulte programmer der er minimeret i statusområdet
Comment[de]=Ermöglicht den Zugriff auf Programme, die im Systemabschnitt der Kontrollleiste laufen.
Comment[el]=Πρόσβαση σε κρυμμένες εφαρμογές ελαχιστοποιημένες στο πλαίσιο συστήματος
Comment[et]=Süsteemisalve minimeeritud peidetud rakenduste kasutamine
Comment[fr]=Accède aux applications cachées minimisées dans la boîte à miniatures
Comment[ga]=Rochtain feidhmchláir atá íoslaghdaithe i dtráidire an chórais
Comment[gl]=Accede a programas ocultos minimizados na bandexa do sistema
Comment[hu]=Minimalizált alkalmazások elérését teszi lehetővé a paneltálcáról
Comment[km]=ចូល​ដំណើរការ​​កម្មវិធី​ដែលលាក់​ ដែល​បាន​បង្រួម​អប្បបរមា​នៅ​ក្នុង​ថាស​ប្រព័ន្ធ
Comment[nds]=Togriep op versteken Programmen binnen den Systeemafsnitt
Comment[nl]=Biedt toegang tot programma's die in het systeemvak draaien
Comment[pl]=Dostęp do programów zminimalizowanych na tacce systemowej
Comment[pt]=Aceder às aplicações escondidas e minimizadas na bandeja do sistema
Comment[pt_BR]=Acessa aplicativos ocultos minimizados na área de notificação
Comment[ro]=Accesați aplicațiile ascunse minimizate în tava de sistem
Comment[sk]=Prístup k skrytým aplikáciam minimalizovaným do systémovej lišty
Comment[sv]=Kom åt dolda program minimerade i systembrickan
Comment[ug]=سىستېما قونداققا كىچىكلىتىپ يوشۇرۇلغان پروگراممىلارنى زىيارەت
Comment[uk]=Доступ до прихованих програм, мінімізованих до системного лотка
Comment[x-test]=xxAccess hidden applications minimized in the system trayxx
Encoding=UTF-8
Name=System Tray
Name[cs]=Systémová část panelu
Name[da]=Statusområde
Name[de]=Systemabschnitt der Kontrollleiste
Name[el]=Πλαίσιο συστήματος
Name[es]=Bandeja del sistema
Name[et]=Süsteemisalv
Name[fr]=Boîte à miniatures
Name[ga]=Tráidire an Chórais
Name[gl]=Área de notificación
Name[hu]=Paneltálca
Name[km]=ថាស​ប្រព័ន្ធ
Name[nds]=Systeemafsnitt
Name[nl]=Systeemvak
Name[pl]=Tacka systemowa
Name[pt]=Bandeja do Sistema
Name[pt_BR]=Área de notificação
Name[ro]=Tavă de sistem
Name[sk]=Systémová lišta
Name[sv]=Systembricka
Name[ug]=سىستېما قوندىقى
Name[uk]=Системний лоток
Name[x-test]=xxSystem Trayxx
Type=Service
X-KDE-Library=plasma_applet_systemtray
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Alexander Rodin
X-KDE-PluginInfo-Category=Windows and Tasks
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=rodin.alexander@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL v2+
X-KDE-PluginInfo-Name=systemtray
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=
