[Desktop Entry]
Name=Victory Calendar
Name[da]=Victory-kalender
Name[es]=Calendario victoriano
Name[et]=Võidukalender
Name[fr]=Calendrier de victoires
Name[hu]=Győzelemnaptár
Name[km]=ប្រតិទិន​ជ័យ​ជំនះ
Name[nds]=Spood-Kalenner
Name[nl]=Victory agenda
Name[pl]=Victory Calendar
Name[pt]=Calendário de Vitórias
Name[pt_BR]=Calendário de Vitórias
Name[sk]=Kalendár víťazstiev
Name[sv]=Vinstkalender
Name[uk]=Календар перемог
Name[x-test]=xxVictory Calendarxx
Comment=1) Log your daily accomplishments. 2) ??? 3) Profit!
Comment[da]=1) Log dine daglige bedrifter. 2) ??? 3) Få profit!
Comment[et]=1) Pane kirja oma igapäevased saavutused. 2) ??? 3) Kasu!
Comment[fr]=1) Journalisez vos réalisations quotidiennes. 2) ??? 3) Profitez !
Comment[hu]=1) Naplózza a napi teljesítményeket. 2) ??? 3) Profit!
Comment[km]=១) ចុះ​កំណត់​ហេតុ​ស្នាដៃ​ប្រចាំ​ថ្ងៃ​របស់​អ្ន ។ ២) ??? ៣) ប្រាក់​កម្រៃ !
Comment[nds]=1) Elk Dag Dien Spood opschrieven 2) Dor wat ut maken 3) De Frücht austen!
Comment[nl]=1) Log uw dagelijkse verrichtingen. 2) ??? 3) Winst!
Comment[pl]=1) Wpisuj do dziennika swoje dzienne dokonania. 2) ??? 3) Korzyść!
Comment[pt]=1) Registar os seus sucessos diários. 2) ??? 3) Lucro!
Comment[pt_BR]=1) Registrar os seus sucessos diários. 2) ??? 3) Lucro!
Comment[sk]=1) Záznam vašich denných úspechov. 2) ??? 3) Zisk!
Comment[sv]=1) Logga dagliga framsteg. 2) ??? 3) Dra nytta.
Comment[uk]=1) Запишіть ваші щоденні звершення. 2) ??? 3) Profit!
Comment[x-test]=xx1) Log your daily accomplishments. 2) ??? 3) Profit!xx
Icon=view-calendar-tasks
Type=Service
X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js
X-Plasma-DefaultSize=200,100
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-PluginInfo-Author=Chani Armitage
X-KDE-PluginInfo-Email=chani@kde.org
X-KDE-PluginInfo-Name=victorycalendar
X-KDE-PluginInfo-Version=0.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Personal Information Management
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
