[Desktop Entry]
Name=Victory Calendar
Name[da]=Victory-kalender
Name[et]=Võidukalender
Name[hu]=Győzelemnaptár
Name[nl]=Victory agenda
Name[pt]=Calendário de Vitórias
Name[pt_BR]=Calendário de Vitórias
Name[sk]=Kalendár víťazstiev
Name[uk]=Календар перемог
Name[x-test]=xxVictory Calendarxx
Comment=1) Log your daily accomplishments. 2) ??? 3) Profit!
Comment[da]=1) Log dine daglige bedrifter. 2) ??? 3) Få profit!
Comment[et]=1) Pane kirja oma igapäevased saavutused. 2) ??? 3) Kasu!
Comment[hu]=1) Naplózza a napi teljesítményeket. 2) ??? 3) Profit!
Comment[nl]=1) Log uw dagelijkse verrichtingen. 2) ??? 3) Winst!
Comment[pt]=1) Registar os seus sucessos diários. 2) ??? 3) Lucro!
Comment[pt_BR]=1) Registrar os seus sucessos diários. 2) ??? 3) Lucro!
Comment[sk]=1) Záznam vašich denných úspechov. 2) ??? 3) Zisk!
Comment[uk]=1) Запишіть ваші щоденні звершення. 2) ??? 3) Profit!
Comment[x-test]=xx1) Log your daily accomplishments. 2) ??? 3) Profit!xx
Icon=view-calendar-tasks
Type=Service
X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js
X-Plasma-DefaultSize=200,100
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-PluginInfo-Author=Chani Armitage
X-KDE-PluginInfo-Email=chani@kde.org
X-KDE-PluginInfo-Name=victorycalendar
X-KDE-PluginInfo-Version=0.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Personal Information Management
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
