# SPDX-FileCopyrightText: 2025 Carl Schwan <carl@carlschwan.eu>
# SPDX-License-Identifier: LGPL-2.0-or-later

[Desktop Entry]
Terminal=false
Name=Plasma Global Theme Explorer
Name[az]=Plasma Qlobal Mövzu Bələdçisi
Name[be]=Агляд глабальных тэмаў Plasma
Name[da]=Plasma global temaudforsker
Name[de]=Globaler Plasma-Designexplorer
Name[el]=Περιηγητής καθολικών θεμάτων Plasma
Name[en_GB]=Plasma Global Theme Explorer
Name[es]=Explorador de temas globales de Plasma
Name[et]=Plasma globaalsete teemade uurija
Name[eu]=Plasma gai orokorren esploratzailea
Name[fi]=Plasma-yleisteemaselain
Name[fr]=Explorateur de thèmes Plasma globaux
Name[gl]=Explorador de temas globais de Plasma
Name[hu]=Plasma globálistéma-böngésző
Name[ia]=Plasma Global Theme Explorer (Explorator de Thema Global de Plasma)
Name[id]=Penjelajah Tema Global Plasma
Name[it]=Esploratore dei temi globali di Plasma
Name[ka]=Plasma-ის გლობალური თემების პოვნა
Name[ko]=Plasma 전역 테마 탐색기
Name[lt]=Plasma visuotinių apipavidalinimų tyrinėtojas
Name[nl]=Plasma globale thema-verkenner
Name[pl]=Przeglądarka globalnych wyglądów Plazmy
Name[pt]=Explorador de Temas Globais do Plasma
Name[pt_BR]=Explorador de temas globais do Plasma
Name[ru]=Просмотр оформлений рабочей среды Plasma
Name[sk]=Prehliadač Globálnych tém Plasma
Name[sl]=Raziskovalnik globalnih tem v Plasmi
Name[sv]=Utforskare för globala Plasmateman
Name[tr]=Plasma Global Tema Gezgini
Name[uk]=Навігатор загальними темами Плазми
Name[zh_TW]=Plasma 全域主題探索器
Icon=preferences-desktop-theme
Exec=lookandfeelexplorer
Categories=Qt;KDE;Development
Type=Application
