[Desktop Entry]
Comment=Explore and edit your Plasma themes
Comment[ast]=Esplora y edita los tos temes Plasma
Comment[ca]=Explora i edita els vostres temes de Plasma
Comment[ca@valencia]=Explora i edita els vostres temes de Plasma
Comment[de]=Erforschen und Bearbeiten Sie Ihre Plasma-Designs
Comment[en_GB]=Explore and edit your Plasma themes
Comment[es]=Explorar y editar sus temas de Plasma
Comment[fi]=Selaa ja muokkaa Plasma-teemoja
Comment[gl]=Explora e edita os teus temas de Plasma.
Comment[it]=Esplora e modifica i tuoi temi di plasma
Comment[ko]=Plasma 테마 탐색 및 편집
Comment[nl]=Uw Plasma-thema's doorlopen en bewerken
Comment[nn]=Utforsk og rediger Plasma-tema
Comment[pl]=Przeglądaj i edytuj wystroje Plazmy
Comment[pt]=Explore e edite os seus temas do Plasma
Comment[pt_BR]=Explore e edite os seus temas do Plasma
Comment[sk]=Preskúmať a upraviť vaše témy Plasma
Comment[sl]=Raziščite in uredite vaše teme za Plasmo
Comment[sr]=Истражујте и уређујте плазма теме
Comment[sr@ijekavian]=Истражујте и уређујте плазма теме
Comment[sr@ijekavianlatin]=Istražujte i uređujte plasma teme
Comment[sr@latin]=Istražujte i uređujte plasma teme
Comment[sv]=Utforska och redigera Plasma-teman
Comment[uk]=Навігація вашими темами Плазми та редагування тем
Comment[x-test]=xxExplore and edit your Plasma themesxx
Comment[zh_CN]=浏览并编辑您的 Plasma 主题
Encoding=UTF-8
Keywords=
Name=Plasma Theme Explorer
Name[ca]=Explora els temes de Plasma
Name[ca@valencia]=Explora els temes de Plasma
Name[de]=Plasma-Designexplorer
Name[en_GB]=Plasma Theme Explorer
Name[es]=Explorador de temas de Plasma
Name[fi]=Plasma-teemaselain
Name[gl]=Explorador de temas de Plasma
Name[it]=Plasma Theme Explorer
Name[ko]=Plasma 테마 탐색기
Name[nl]=Plasma-thema-verkenner
Name[nn]=Utforskar for Plasma-tema
Name[pl]=Przeglądarka Wystrojów Plazmy
Name[pt]=Explorador de Temas do Plasma
Name[pt_BR]=Explorador de temas do Plasma
Name[sk]=Exportér témy Plasma
Name[sl]=Raziskovalnik tem za Plasmo
Name[sr]=Истраживач плазма тема
Name[sr@ijekavian]=Истраживач плазма тема
Name[sr@ijekavianlatin]=Istraživač plasma tema
Name[sr@latin]=Istraživač plasma tema
Name[sv]=Plasma-temautforskare
Name[uk]=Редактор тем Плазми
Name[x-test]=xxPlasma Theme Explorerxx
Name[zh_CN]=Plasma 主题浏览器
Type=Application
Icon=preferences-desktop-theme
Categories=Qt;KDE;Development;
Exec=plasmathemeexplorer
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Category=Themes
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.plasma.themeexplorer
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=KPackage/GenericQML

X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
