[Desktop Entry]
Type=Service
Name=Icon Picker
Name[az]=İkon seçimi
Name[be]=Выбар значкоў
Name[bg]=Избор на икони
Name[ca]=Selector d'icones
Name[ca@valencia]=Selector d'icones
Name[da]=Ikonvælger
Name[de]=Symbol-Auswahl
Name[el]=Επιλογέας εικονιδίων
Name[en_GB]=Icon Picker
Name[eo]=Icon Picker
Name[es]=Selector de iconos
Name[et]=Ikoonivalija
Name[eu]=Ikono hautatzailea
Name[fi]=Kuvakevalitsin
Name[fr]=Sélecteur d'icônes
Name[gl]=Selector de iconas
Name[hu]=Ikonválasztó
Name[ia]=Selector de icone
Name[id]=Icon Picker
Name[it]=Selettore icone
Name[ka]=ხატულის ამრჩევი
Name[ko]=아이콘 선택기
Name[lt]=Piktogramų parinkiklis
Name[nl]=Pictogramkiezer
Name[nn]=Ikonveljar
Name[pl]=Wybierak ikon
Name[pt]=Selector de Ícones
Name[pt_BR]=Seletor de ícones
Name[ru]=Выбор значка
Name[sk]=Výber ikon
Name[sl]=Izbirnik ikon
Name[sr]=Бирач иконица
Name[sr@ijekavian]=Бирач иконица
Name[sr@ijekavianlatin]=Birač ikonica
Name[sr@latin]=Birač ikonica
Name[sv]=Ikonväljare
Name[tr]=Simge Seçici
Name[uk]=Вибір піктограми
Name[x-test]=xxIcon Pickerxx
Name[zh_CN]=图标选择器
Name[zh_TW]=圖示挑選器
Comment=Invokes Cuttlefish icon picker
Comment[az]=Cuttlefish-i ikon seçimi rejimində başlatmaq
Comment[be]=Выклікае сродак выбару значкоў Cuttlefish
Comment[bg]=Извиква Cuttlefisch за избор на икони
Comment[ca]=Invoca el selector d'icones Cuttlefish
Comment[ca@valencia]=Invoca el selector d'icones Cuttlefish
Comment[da]=Fremkalder Cuttlefish ikonvælger
Comment[de]=Öffnet die Symbol-Auswahl von Cuttlefish
Comment[el]=Εκτελεί το πρόγραμμα επιλογής εικονιδίων Cuttlefish
Comment[en_GB]=Invokes Cuttlefish icon picker
Comment[es]=Llama al selector de iconos Cuttlefish
Comment[et]=Cuttlefishi ikoonivalija käivitamine
Comment[eu]=Cuttlefish ikono hautatzaileari dei egiten dio
Comment[fi]=Käynnistää Cuttlefish-kuvakevalitsimen
Comment[fr]=Invoque le sélecteur d'icônes Cuttlefish
Comment[gl]=Inicia o selector de iconas de Cuttlefish.
Comment[hu]=A Cuttlefish ikonválasztójának meghívása
Comment[ia]=Invoca selector de icone Cuttlefish
Comment[id]=Penukil ikon memanggil Cuttlefish
Comment[it]=Invoca il selettore icone di cuttlefish
Comment[ka]=Cuttlefish - ხატულის ამრჩევის გაშვება
Comment[ko]=Cuttlefish 아이콘 선택기 실행
Comment[lt]=Aktyvina Cuttlefish piktogramų parinkiklį
Comment[nl]=Start de pictogramkiezer Cuttlefish
Comment[nn]=Køyrer Cuttlefish ikonveljar
Comment[pl]=Przywołuje wybieranie ikon Cuttlefish
Comment[pt]=Invoca o selector de ícones Cuttlefish
Comment[pt_BR]=Carrega o seletor de ícones Cuttlefish
Comment[ru]=Запуск Cuttlefish в режиме выбора значка
Comment[sk]=Vyvolá výber ikon Cuttlefish
Comment[sl]=Prikliče izbiralnik ikon Cuttlefish
Comment[sr]=Покреће Катлфиш као бирач иконица
Comment[sr@ijekavian]=Покреће Катлфиш као бирач иконица
Comment[sr@ijekavianlatin]=Pokreće Cuttlefish kao birač ikonica
Comment[sr@latin]=Pokreće Cuttlefish kao birač ikonica
Comment[sv]=Startar Cuttlefish ikonväljare
Comment[tr]=Cuttlefish simge seçicisini çağırır
Comment[uk]=Запускає засіб вибору піктограми Cuttlefish
Comment[x-test]=xxInvokes Cuttlefish icon pickerxx
Comment[zh_CN]=调用 Cuttlefish 图标选取器
Comment[zh_TW]=呼叫 Cuttlefish 圖示挑選器
