[Desktop Entry]
Type=Service
ServiceTypes=KTextEditor/Plugin
X-KDE-Library=cuttlefishplugin
Name=Icon Picker
Name[ca]=Selector d'icones
Name[en_GB]=Icon Picker
Name[es]=Selector de iconos
Name[fi]=Kuvakevalitsin
Name[gl]=Selector de iconas
Name[it]=Selettore icone
Name[nl]=Pictogramkiezer
Name[pt]=Selector de Ícones
Name[pt_BR]=Seletor de ícones
Name[sk]=Výber ikon
Name[sl]=Izbiralnik ikon
Name[sv]=Ikonväljare
Name[uk]=Вибір піктограми
Name[x-test]=xxIcon Pickerxx
Name[zh_CN]=图标选择器
Comment=Invokes Cuttlefish icon picker
Comment[ca]=Invoca al selector d'icones Cuttlefish
Comment[en_GB]=Invokes Cuttlefish icon picker
Comment[es]=Llama al selector de iconos Cuttlefish
Comment[fi]=Käynnistää Cuttlefish-kuvakevalitsimen
Comment[gl]=Inicia o selector de iconas de Cuttlefish.
Comment[it]=Invoca il selettore icone di cuttlefish
Comment[nl]=Start de pictogramkiezer Cuttlefish
Comment[pt]=Invoca o selector de ícones Cuttlefish
Comment[pt_BR]=Carrega o seletor de ícones Cuttlefish
Comment[sk]=Vyvolá výber ikon Cuttlefish
Comment[sl]=Prikliče izbiralnik ikon Cuttlefish
Comment[sv]=Startar Cuttlefish ikonväljare
Comment[uk]=Запускає засіб вибору піктограми Cuttlefish
Comment[x-test]=xxInvokes Cuttlefish icon pickerxx
