[Desktop Entry]
Type=Service
ServiceTypes=KTextEditor/Plugin
X-KDE-Library=cuttlefishplugin
Name=Icon Picker
Name[sk]=Výber ikon
Name[sv]=Ikonväljare
Name[x-test]=xxIcon Pickerxx
Comment=Invokes Cuttlefish icon picker
Comment[sk]=Vyvolá výber ikon Cuttlefish
Comment[sv]=Startar Cuttlefish ikonväljare
Comment[x-test]=xxInvokes Cuttlefish icon pickerxx
