#!/usr/bin/env xdg-open
[Desktop Entry]
Terminal=false
Name=Cuttlefish
Name[ast]=Cuttlefish
Name[ca]=Cuttlefish
Name[ca@valencia]=Cuttlefish
Name[cs]=Cuttlefish
Name[da]=Cuttlefish
Name[de]=Cuttlefish
Name[en_GB]=Cuttlefish
Name[es]=Cuttlefish
Name[et]=Cuttlefish
Name[fi]=Cuttlefish
Name[gl]=Cuttlefish
Name[it]=Cuttlefish
Name[ko]=Cuttlefish
Name[nl]=Cuttlefish
Name[nn]=Cuttlefish
Name[pl]=Cuttlefish
Name[pt]=Cuttlefish
Name[pt_BR]=Cuttlefish
Name[ru]=Cuttlefish
Name[sk]=Cuttlefish
Name[sl]=Cuttlefish
Name[sr]=Катлфиш
Name[sr@ijekavian]=Катлфиш
Name[sr@ijekavianlatin]=Cuttlefish
Name[sr@latin]=Cuttlefish
Name[sv]=Cuttlefish
Name[uk]=Cuttlefish
Name[x-test]=xxCuttlefishxx
Name[zh_CN]=Cuttlefish
Name[zh_TW]=Cuttlefish
GenericName=Icon Viewer
GenericName[ca]=Visor d'icones
GenericName[ca@valencia]=Visor d'icones
GenericName[cs]=Prohlížeč ikon
GenericName[de]=Symbol-Betrachter
GenericName[en_GB]=Icon Viewer
GenericName[es]=Visor de iconos
GenericName[et]=Ikoonide näitaja
GenericName[fi]=Kuvakekatselin
GenericName[gl]=Visor de iconas
GenericName[it]=Visore icone
GenericName[ko]=아이콘 뷰어
GenericName[nl]=Pictogramviewer
GenericName[nn]=Ikonvisar
GenericName[pl]=Przeglądarka ikon
GenericName[pt]=Visualizador de Ícones
GenericName[pt_BR]=Visualizador de ícones
GenericName[ru]=Просмотр значков
GenericName[sk]=Prehliadač ikon
GenericName[sl]=Pregledovalnik ikon
GenericName[sr]=Приказивач икона
GenericName[sr@ijekavian]=Приказивач икона
GenericName[sr@ijekavianlatin]=Prikazivač ikona
GenericName[sr@latin]=Prikazivač ikona
GenericName[sv]=Ikonvisare
GenericName[uk]=Перегляд піктограм
GenericName[x-test]=xxIcon Viewerxx
GenericName[zh_CN]=图标查看器
GenericName[zh_TW]=圖示檢示器
Comment=Icon Previewer for Artists and Developers
Comment[ca]=Vista prèvia de les icones pels artistes i desenvolupadors
Comment[ca@valencia]=Vista prèvia de les icones pels artistes i desenvolupadors
Comment[de]=Symbolvorschau für Künstler und Entwickler
Comment[en_GB]=Icon Previewer for Artists and Developers
Comment[es]=Vista previa de iconos para artistas y desarrolladores
Comment[et]=Ikoonide eelvaaatlus kunstnikele ja arendajatele
Comment[fi]=Kuvakkeiden esikatselu graafikoille ja kehittäjille
Comment[gl]=Visor de iconas para artistas e desenvolvedores
Comment[it]=Anteprime delle icone per artisti e sviluppatori
Comment[ko]=예술가와 개발자를 위한 아이콘 뷰어
Comment[nl]=Pictogramviewer voor kunstenaars en ontwikkelaars
Comment[nn]=Førehandsvising av ikon for kunstnarar og utviklarar
Comment[pl]=Podglądanie ikon dla artystów i programistów
Comment[pt]=Antevisão em Ícones para os Artistas e Programadores
Comment[pt_BR]=Visualizador de ícones para artistas e desenvolvedores
Comment[ru]=Инструмент просмотра значков для дизайнеров и разработчиков
Comment[sk]=Prehliadač ikon pre umelcov a vývojárov
Comment[sl]=Pregledovalnik ikon za umetnike in razvijalce
Comment[sr]=Приказивач икона за графичаре и програмере
Comment[sr@ijekavian]=Приказивач икона за графичаре и програмере
Comment[sr@ijekavianlatin]=Prikazivač ikona za grafičare i programere
Comment[sr@latin]=Prikazivač ikona za grafičare i programere
Comment[sv]=Förhandsgranskning av ikoner för grafiker och utvecklare
Comment[uk]=Засіб перегляду піктограм для художників та розробників
Comment[x-test]=xxIcon Previewer for Artists and Developersxx
Comment[zh_CN]=图标预览器 (适用于艺术家和开发者)
Comment[zh_TW]=給美工與開發者用的圖示預覽器
Exec=cuttlefish
Icon=cuttlefish
Type=Application
InitialPreference=7
Categories=Qt;KDE;Development;IDE;
