#!/usr/bin/env xdg-open
[Desktop Entry]
Terminal=false
Name=Plasmate
GenericName=Plasma Addon Creator
Exec=plasmate
Icon=plasmagik
Type=Application
InitialPreference=7
Categories=Qt;KDE;Development;IDE;
