#!/usr/bin/env xdg-open
[Desktop Entry]
Terminal=false
Name=Plasmate
Name[ast]=Plasmate
Name[ca]=Plasmate
Name[ca@valencia]=Plasmate
Name[cs]=Plasmate
Name[de]=Plasmate
Name[en_GB]=Plasmate
Name[es]=Plasmate
Name[et]=Plasmate
Name[fi]=Plasmate
Name[gl]=Plasmate
Name[it]=Plasmate
Name[ko]=Plasmate
Name[nl]=Plasmate
Name[nn]=Plasmate
Name[pl]=Plasmate
Name[pt]=Plasmate
Name[pt_BR]=Plasmate
Name[sk]=Plasmate
Name[sl]=Plasmate
Name[sr]=Плазмејт
Name[sr@ijekavian]=Плазмејт
Name[sr@ijekavianlatin]=Plasmate
Name[sr@latin]=Plasmate
Name[sv]=Plasmate
Name[uk]=Plasmate
Name[x-test]=xxPlasmatexx
Name[zh_CN]=Plasmate
GenericName=Plasma Addon Creator
GenericName[ca]=Creador de complements pel Plasma
GenericName[ca@valencia]=Creador de complements pel Plasma
GenericName[de]=Plasma Creator für Erweiterungen
GenericName[en_GB]=Plasma Addon Creator
GenericName[es]=Creador de complementos para Plasma
GenericName[et]=Plasma lisandite looja
GenericName[fi]=Plasma-lisäosien luontiohjelma
GenericName[gl]=Creados de complementos para Plasma
GenericName[it]=Creatore di componenti aggiuntivi di Plasma
GenericName[ko]=Plasma 추가 기능 생성기
GenericName[nl]=Plasma maker van addons
GenericName[nn]=Redigering av Plasma-tillegg
GenericName[pl]=Tworzenie dodatków Plazmy
GenericName[pt]=Criador de Extensões do Plasma
GenericName[pt_BR]=Criador de complementos do Plasma
GenericName[sk]=Tvorca doplnkov Plasma
GenericName[sl]=Ustvarjalnik dodatkov za Plasmo
GenericName[sr]=Стваралац плазма додатака
GenericName[sr@ijekavian]=Стваралац плазма додатака
GenericName[sr@ijekavianlatin]=Stvaralac plasma dodataka
GenericName[sr@latin]=Stvaralac plasma dodataka
GenericName[sv]=Skapa Plasma-tillägg
GenericName[uk]=Програма для створення додатків Плазми
GenericName[x-test]=xxPlasma Addon Creatorxx
GenericName[zh_CN]=Plasma 附加组件创建器
Exec=plasmate
Icon=plasmagik
Type=Application
InitialPreference=7
Categories=Qt;KDE;Development;IDE;
