[Desktop Entry]
Terminal=false
Name=Plasmoidviewer
Name[ca]=Plasmoidviewer
Name[ca@valencia]=Plasmoidviewer
Name[cs]=Plasmoidviewer
Name[da]=Plasmoidviewer
Name[de]=PlasmoidViewer
Name[el]=Plasmoidviewer
Name[en_GB]=Plasmoidviewer
Name[es]=Visor de plasmoides
Name[eu]=Plasmoid erakusle shell
Name[fi]=Plasmoidviewer
Name[fr]=Afficheur de composants graphiques
Name[gl]=Visor de plasmoides
Name[id]=Plasmoidviewer
Name[it]=Plasmoidviewer
Name[ko]=Plasmoidviewer
Name[lt]=Plasmoidviewer
Name[nl]=Plasmoidviewer
Name[nn]=PlasmoidViewer
Name[pl]=Przeglądarka plazmoidów
Name[pt]=Visualizador de Plasmóides
Name[pt_BR]=Plasmoidviewer
Name[ru]=Просмотр виджета Plasma
Name[sk]=PlasmoidViewer
Name[sv]=Plasmoid-visning
Name[uk]=Перегляд плазмоїдів
Name[x-test]=xxPlasmoidviewerxx
Name[zh_CN]=Plasma 小程序查看器
Name[zh_TW]=Plasmoidviewer
GenericName=Plasma Widget Testing Tool
GenericName[ca]=Eina de proves d'estris del Plasma
GenericName[ca@valencia]=Eina de proves d'estris del Plasma
GenericName[en_GB]=Plasma Widget Testing Tool
GenericName[es]=Herramienta de prueba de elementos gráficos de Plasma
GenericName[eu]=Plasmako trepetak probatzeko tresna
GenericName[fi]=Plasma-sovelmien testaustyökalu
GenericName[id]=Alat Pengujian Widget Plasma
GenericName[it]=Strumento di test degli oggetti di Plasma
GenericName[ko]=Plasma 위젯 테스트 도구
GenericName[lt]=Plasma valdiklių testavimo įrankis
GenericName[nl]=Hulpmiddel voor testen van Plasma Widget
GenericName[pl]=Narzędzie do próbowania elementów interfejsu Plazmy
GenericName[pt]=Ferramenta de Testes de Elementos do Plasma
GenericName[pt_BR]=Ferramenta de testes de widgets do Plasma
GenericName[sk]=Nástroj na testovanie Plasma Widget-ov
GenericName[sv]=Testverktyg för Plasma grafiska komponenter
GenericName[uk]=Інструмент для тестування віджетів Плазми
GenericName[x-test]=xxPlasma Widget Testing Toolxx
GenericName[zh_CN]=Plasma 小部件测试工具
GenericName[zh_TW]=Plasma 元件測試工具
Comment=Testing tool for Plasma applets
Comment[ca]=Eina de proves de les miniaplicacions del Plasma
Comment[ca@valencia]=Eina de proves de les miniaplicacions del Plasma
Comment[cs]=Testovací nástroj pro applety Plasma
Comment[da]=Testværktøj til Plasma-applets
Comment[de]=Test-Werkzeug für Plasma-Miniprogramme
Comment[el]=Δοκιμαστικά εργαλεία για μικροεφαρμογές Plasma
Comment[en_GB]=Testing tool for Plasma applets
Comment[es]=Herramienta de prueba para miniaplicaciones de Plasma
Comment[eu]=Plasma appletak probatzeko tresna
Comment[fi]=Plasma-sovelmien testaustyökalu
Comment[fr]=Outil de test pour les applets Plasma
Comment[gl]=Ferramenta de probas para trebellos de Plasma.
Comment[id]=Alat pengujian untuk applet Plasma
Comment[it]=Strumento di prova delle applet di Plasma
Comment[ko]=Plasma 애플릿 테스트 도구
Comment[lt]=Plasma įskiepių testavimo įrankis
Comment[nl]=Testhulpmiddel voor Plasma-applets
Comment[nn]=Testverktøy for Plasma-element
Comment[pl]=Narzędzie do prób apletów Plazmy
Comment[pt]=Ferramenta de testes de elementos do Plasma
Comment[pt_BR]=Ferramenta de testes de miniaplicativos Plasma
Comment[ru]=Инструмент тестирования виджетов Plasma
Comment[sk]=Testovací nástroj pre Plasma applety
Comment[sv]=Testverktyg för Plasma miniprogram
Comment[uk]=Засіб тестування аплетів Плазми
Comment[x-test]=xxTesting tool for Plasma appletsxx
Comment[zh_CN]=Plasma 小程序测试工具
Comment[zh_TW]=Plasma 小程式測試工具
Exec=plasmoidviewer
Icon=plasma
Type=Application
Categories=Qt;KDE;Development;IDE;
NoDisplay=true
