[Desktop Entry]
Comment=Explore and edit your Plasma Look And Feel themes
Comment[ca]=Explora i edita els vostres temes d'Aspecte i comportament
Comment[ca@valencia]=Explora i edita els vostres temes d'Aspecte i comportament
Comment[de]=Erforschen und bearbeiten Sie Ihr Plasma-Erscheinungsbild
Comment[en_GB]=Explore and edit your Plasma Look And Feel themes
Comment[es]=Explorar y editar sus temas de aspecto visual de Plasma
Comment[et]=Oma Plasma välimuse teemade uurimine ja muutmine
Comment[fi]=Selaa ja muokkaa Plasma-ulkoasuteemoja
Comment[it]=Esplora e modifica i tuoi temi di Plasma
Comment[nl]=Uw Plasma-thema's voor uiterlijk en gedrag doorlopen en bewerken
Comment[nn]=Utforsk og rediger utsjånad-og-åtferd-tema for Plasma
Comment[pl]=Przeglądaj i edytuj wrażenia wzrokowe i dotykowe Plazmy
Comment[pt]=Explore e edite os seus temas de Aparência e Comportamento do Plasma
Comment[ru]=Просмотр и редактирование оформлений Plasma
Comment[sk]=Preskúmať a upraviť vaše témy Plasma
Comment[sl]=Raziščite in uredite vaše teme Videza in občutka za Plasmo
Comment[sv]=Utforska och redigera Plasma utseende och känsla-teman
Comment[uk]=Навігація вашими темами вигляду Плазми та редагування тем
Comment[x-test]=xxExplore and edit your Plasma Look And Feel themesxx
Comment[zh_CN]=浏览并编辑您的 Plasma 观感主题
Encoding=UTF-8
Keywords=
Name=Plasma Look And Feel Explorer
Name[ca]=Explorador pels temes d'Aspecte i comportament del Plasma
Name[ca@valencia]=Explorador pels temes d'Aspecte i comportament del Plasma
Name[cs]=Prohlížeč vzhledu a chování Plasmy
Name[de]=Plasma-Erscheinungsbild-Betrachter
Name[en_GB]=Plasma Look And Feel Explorer
Name[es]=Explorador de temas aspecto visual de Plasma
Name[et]=Plasma välimuse uurija
Name[fi]=Plasma-ulkoasuselain
Name[it]=Esploratore dei temi di Plasma
Name[nl]=Plasma-verkenner voor uiterlijk en gedrag
Name[nn]=Utforskar for utsjånad-og-åtferd-oppsett i Plasma
Name[pl]=Przeglądarka wrażeń wzrokowych i dotykowych Plazmy
Name[pt]=Explorador de Aparências e Comportamentos do Plasma
Name[ru]=Редактор оформлений Plasma
Name[sk]=Prehliadač témy Plasma
Name[sl]=Raziskovalnik Videza in občutka za Plasmo
Name[sv]=Plasma utseende och känsla-utforskare
Name[uk]=Навігатор темами вигляду Плазми
Name[x-test]=xxPlasma Look And Feel Explorerxx
Name[zh_CN]=Plasma 观感浏览器
Type=Application
Icon=preferences-desktop-theme
Categories=Qt;KDE;Development;IDE
Exec=lookandfeelexplorer
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Category=Themes
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.plasma.lookandfeelexplorer
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=KPackage/GenericQML

X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
