[Desktop Entry]
Name=StudioPreviewer
Name[da]=StudioForhåndsviser
Name[de]=Studiovorschau
Name[el]=StudioPreviewer
Name[es]=StudioPreviewer
Name[et]=Stuudio eelvaatlus
Name[fi]=Studioesikatselu
Name[fr]=StudioPreviewer
Name[ga]=StudioPreviewer
Name[gl]=Previsualizador do estudio
Name[hu]=StudioPreviewer
Name[it]=StudioPreviewer
Name[km]=StudioPreviewer
Name[nds]=Studio-Vöransicht
Name[nl]=StudioBekijken
Name[pl]=Podgląd Studia
Name[pt]=StudioPreviewer
Name[pt_BR]=StudioPreviewer
Name[ro]=StudioPreviewer
Name[ru]=StudioPreviewer
Name[sk]=StudioPreviewer
Name[sl]=StudioPreviewer
Name[sv]=Förhandsgranskning med Studio
Name[tr]=StudioPreviewer
Name[uk]=StudioPreviewer
Name[x-test]=xxStudioPreviewerxx
Name[zh_TW]=StudioPreviewer
Comment=Containment used to preview plasmoids on Plasma Studio
Comment[da]=Beholder der bruges til at forhåndsvise plasmoids på Plasma Studio
Comment[de]=„Containment“ für die Vorschau von Plasmoiden in Plasma Studio
Comment[el]=Συγκεντρωτική προεπισκόπηση πλασμοειδών στο Plasma Studio
Comment[es]=Contenedor usado para previsualizar plasmoides en Plasma Studio
Comment[et]=Konteiner, mis võimaldab plasmoide eelvaadelda Plasma stuudios
Comment[fi]=Sovelmasäiliö, jota käytetään sovelmien esikatseluun Plasma Studiossa
Comment[fr]=Conteneur utilisé pour afficher un aperçu des composants graphiques dans Plasma Studio
Comment[gl]=Contedor para previsualizar plasmoides no estudio de Plasma.
Comment[hu]=Elszigetelés a plazmoidok előnézetének használatához a Plasma Studioban
Comment[it]=Contenitore usato per l'anteprima dei plasmoidi in Plasma Studio
Comment[km]=ការ​ផ្ទុក​​បាន​ប្រើ​ដើម្បី​មើល​ plasmoids ជា​មុន​នៅ​លើ​ស្ទូឌីយ៉ូ​ប្លាស្មា
Comment[nl]=Container gebruikt om plasmoids in Plasma Studio te bekijken
Comment[pl]=Kurtyna bezpieczeństwa używana do podglądu plazmoidów w Studiu Plazmy
Comment[pt]=Contentor usado para antever os plasmóides no Plasma Studio
Comment[pt_BR]=Contêiner usado para a antevisão de plasmoides no Plasma Studio
Comment[ro]=Container folosit pentru previzualizarea plasmoizilor în Plasma Studio
Comment[ru]=Контейнер для предпросмотра плазмоидов в Plasma Studio
Comment[sk]=Zadržiavanie použité na náhľad plazmoidov v Plasma Studio
Comment[sl]=Vsebnik uporabljen za predogled plasmoidov v Plasma Studio
Comment[sv]=Omgivning som används för att förhandsgranska Plasmoider med Plasma Studio
Comment[tr]=Plasma Studio'da plasmoidlerin önizlemesinde kullanılan kapsam
Comment[uk]=Контейнер, який використовується для попереднього перегляду плазмоїдів у Plasma Studio
Comment[x-test]=xxContainment used to preview plasmoids on Plasma Studioxx
Comment[zh_TW]=用於在 Plasma Studio 上預覽小元件的容器
Icon=user-desktop
Type=Service
X-KDE-ServiceTypes=Plasma/Applet,Plasma/Containment
X-Plasma-ContainmentCategories=development
NoDisplay=true

X-KDE-Library=plasma_containment_studiopreviewer
X-KDE-PluginInfo-Author=The Plasma Team
X-KDE-PluginInfo-Email=panel-devel@kde.org
X-KDE-PluginInfo-Name=studiopreviewer
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Containments
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
