[Desktop Entry]
Terminal=false
Name=Plasma Engine Explorer
Name[ca]=Explorador de motors del Plasma
Name[ca@valencia]=Explorador de motors del Plasma
Name[da]=Plasma Engine Explorer
Name[de]=Plasma-Datenquellen-Betrachter
Name[el]=Περιηγητής μηχανών Plasma
Name[en_GB]=Plasma Engine Explorer
Name[es]=Explorador de motores de Plasma
Name[eu]=Plasma motor esploratzailea
Name[fi]=Plasma Engine Explorer
Name[fr]=Explorateur de moteurs Plasma
Name[gl]=Explorador de motores de Plasma
Name[id]=Plasma Engine Explorer
Name[it]=Plasma Engine Explorer
Name[ko]=Plasma 엔진 탐색기
Name[nl]=Plasma-engine-verkenner
Name[nn]=Utforskar for Plasma-motorar
Name[pl]=Przeglądarka Silnika Plazmy
Name[pt]=Explorador do Motor do Plasma
Name[pt_BR]=Explorador de mecanismos do Plasma
Name[ru]=Диспетчер данных Plasma
Name[sk]=Exportér témy Plasma
Name[sv]=Gränssnittsutforskare för Plasma
Name[uk]=Навігатор рушіїв Плазми
Name[x-test]=xxPlasma Engine Explorerxx
Name[zh_CN]=Plasma 引擎浏览器
Name[zh_TW]=Plasma 引擎探索器
GenericName=Plasma Data Engines Viewing Tool
GenericName[ca]=Eina de visualització dels motors de dades del Plasma
GenericName[ca@valencia]=Eina de visualització dels motors de dades del Plasma
GenericName[en_GB]=Plasma Data Engines Viewing Tool
GenericName[es]=Herramienta de visualización de motores de datos de Plasma
GenericName[nl]=Hulpmiddel voor bekijken van Plasma Data Engines
GenericName[pt]=Ferramenta de Visualização de Motores de Dados do Plasma
GenericName[sv]=Visningsverktyg för Plasma datagränssnitt
GenericName[uk]=Інструмент для перегляду рушіїв даних Плазми
GenericName[x-test]=xxPlasma Data Engines Viewing Toolxx
GenericName[zh_TW]=Plasma 資料引擎檢視工具
Comment=Explorer for the data published by Plasma DataEngines
Comment[ca]=Explorador de les dades publicades pels motors de dades del Plasma
Comment[ca@valencia]=Explorador de les dades publicades pels motors de dades del Plasma
Comment[da]=Udforsk de data der offentliggøres af Plasma datamotorer
Comment[de]=Zeigt die Daten an, die von Plasma-Datenquellen veröffentlicht werden
Comment[el]=Περιηγητής στα δημοσιευμένα δεδομένα των μηχανών δεδομένων Plasma
Comment[en_GB]=Explorer for the data published by Plasma DataEngines
Comment[es]=Explorador para los datos publicados por los motores de datos de Plasma
Comment[eu]=Plasma datu-motorrek argitaratutako datuentzako esploratzailea
Comment[fi]=Plasman tietomoottorien julkaisemien tietojen selain
Comment[fr]=Explorateur de données publiées par les moteurs de données Plasma
Comment[gl]=Explorador dos datos publicados polos motores de datos de Plasma.
Comment[id]=Penjelajah data yang dipublikasikan oleh Plasma DataEngines
Comment[it]=Esploratore per i dati pubblicati da Plasma DataEngines
Comment[ko]=Plasma 데이터 엔진에서 제공하는 데이터 탐색기
Comment[nl]=Verkenner voor de gegevens gepubliceerd door Plasma DataEngines
Comment[nn]=Utforsking av data publisert av Plasma-datamotorar
Comment[pl]=Przeglądarka danych publikowanych przez silniki danych Plazmy
Comment[pt]=Explorador dos dados publicados pelos motores de dados do Plasma
Comment[pt_BR]=Explorador para os dados publicados pelo Plasma DataEngines
Comment[ru]=Просмотр данных, опубликованных поставщиками данных Plasma
Comment[sk]=Prehliadač dát publikovaných pomocou Plasma DataEngines
Comment[sv]=Utforskare av data som publiceras av datagränssnitt i Plasma
Comment[uk]=Навігатор для даних, оприлюднених рушієм даних Плазми
Comment[x-test]=xxExplorer for the data published by Plasma DataEnginesxx
Comment[zh_CN]=Plasma DataEngines 发布数据的浏览器
Comment[zh_TW]=瀏覽來自 Plasma DataEngines 發布的資料
Exec=plasmaengineexplorer
Icon=plasma
Type=Application
Categories=Qt;KDE;Development;IDE;
