[Desktop Entry]
Comment=PlasmoidViewer Shell
Comment[az]=Plasmoidlərə baxış üzlüyü
Comment[be]=Абалонка PlasmoidViewer
Comment[bg]=Обвивка на PlasmoidViewer
Comment[ca]=Intèrpret d'ordres del visualitzador de plasmoides
Comment[ca@valencia]=Intèrpret d'ordres del visor de plasmoides
Comment[da]=PlasmoidViewer-skal
Comment[de]=PlasmoidViewer-Shell
Comment[el]=Κέλυφος PlasmoidViewer
Comment[en_GB]=PlasmoidViewer Shell
Comment[es]=Entorno de vista de plasmoides
Comment[et]=PlasmoidVieweri shell
Comment[eu]=PlasmoidViewer-Shell
Comment[fi]=PlasmoidViewer-kuori
Comment[fr]=Interpréteur PlasmoidViewer
Comment[gl]=Shell do visor de plasmoides.
Comment[hu]=PlasmoidViewer felület
Comment[ia]=Shell de PlasmoidViewer
Comment[id]=Shell PenampilPlasmoid
Comment[it]=PlasmoidViewer Shell
Comment[ka]=PlasmoidViewer -ის გარსი
Comment[ko]=PlasmoidViewer 셸
Comment[lt]=PlasmoidViewer apvalkalas
Comment[nl]=Shell van PlasmoidViewer
Comment[nn]=PlasmoidViewer-skal
Comment[pl]=Powłoka przeglądarki plazmoidów
Comment[pt]=Consola do PlasmoidViewer
Comment[pt_BR]=Console do PlasmoidViewer
Comment[ru]=Оболочка просмотра виджетов Plasma
Comment[sk]=Shell PlasmoidViewer
Comment[sl]=Lupina PlasmoidViewer
Comment[sr]=Шкољка приказивача плазмоида
Comment[sr@ijekavian]=Шкољка приказивача плазмоида
Comment[sr@ijekavianlatin]=Školjka prikazivača plazmoida
Comment[sr@latin]=Školjka prikazivača plazmoida
Comment[sv]=Plasmoid-visningsskal
Comment[tr]=PlasmoidViewer Kabuğu
Comment[uk]=Оболонка перегляду плазмоїдів
Comment[x-test]=xxPlasmoidViewer Shellxx
Comment[zh_CN]=Plasmoid 查看器外壳
Comment[zh_TW]=Plasmoid 檢視器殼層
Keywords=
Name=PlasmoidViewerShell
Name[az]=PlasmoidViewer üzlüyü
Name[be]=PlasmoidViewerShell
Name[bg]=PlasmoidViewerShell
Name[ca]=Intèrpret d'ordres del visualitzador de plasmoides
Name[ca@valencia]=Intèrpret d'ordres del visor de plasmoides
Name[da]=PlasmoidViewerShell
Name[de]=PlasmoidViewerShell
Name[el]=PlasmoidViewerShell
Name[en_GB]=PlasmoidViewerShell
Name[es]=Entorno de vista de plasmoides
Name[et]=PlasmoidViewerShell
Name[eu]=PlasmoidViewerShell
Name[fi]=PlasmoidViewerShell
Name[fr]=Interpréteur PlasmoidViewer
Name[gl]=Shell do visor de plasmoides
Name[hu]=PlasmoidViewerShell
Name[ia]=PlasmoidViewerShell
Name[id]=PlasmoidViewerShell
Name[it]=PlasmoidViewerShell
Name[ka]=PlasmoidViewerShell
Name[ko]=PlasmoidViewerShell
Name[lt]=PlasmoidViewerShell
Name[nl]=PlasmoidViewerShell
Name[nn]=PlasmoidViewerShell
Name[pl]=Powłoka przeglądarki plazmoidów
Name[pt]=Consola do PlasmoidViewer
Name[pt_BR]=Console do PlasmoidViewer
Name[ru]=Оболочка PlasmoidViewer
Name[sk]=PlasmoidViewerShell
Name[sl]=PlasmoidViewerShell
Name[sr]=Шкољка приказивача плазмоида
Name[sr@ijekavian]=Шкољка приказивача плазмоида
Name[sr@ijekavianlatin]=Školjka prikazivača plazmoida
Name[sr@latin]=Školjka prikazivača plazmoida
Name[sv]=Plasmoid-visningsskal
Name[tr]=PlasmoidViewerShell
Name[uk]=Оболонка перегляду плазмоїдів
Name[x-test]=xxPlasmoidViewerShellxx
Name[zh_CN]=Plasmoid 查看器外壳
Name[zh_TW]=PlasmoidViewerShell
Type=Service

X-KDE-ServiceTypes=Plasma/Shell
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-Name=org.kde.plasmoidviewershell
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-Plasma-MainScript=layout.js
